{% include('head.html') %}


<table class="container">
    <tr>
        <td>

            <!-- content start -->
            <table class="row">
                <tr>
                    <td class="wrapper last">

                        <table class="twelve columns">
                            <tr>
                                <td>

                                    <h3 class="center">{{ rfcName }} has been updated!</h3>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>

            <table class="row">
                <tr>
                    <td class="wrapper last">

                        <table class="twelve columns">
                            <tr>
                                <td>

                                    {% if details is not empty %}
                                        <table class="twelve columns">
                                            <tr>
                                                <td class="panel">

                                                    <h5 class="center">New Details</h5>
                                                    <ul>
                                                        {% for key, value  in  details %}
                                                            <li>{{ key }} updated to {{ value }}</li>
                                                        {% endfor %}
                                                    </ul>

                                                </td>
                                                <td class="expander"></td>
                                            </tr>
                                        </table>
                                    {% endif %}

                                    {% if changeLog is not empty %}
                                        <table class="twelve columns">
                                            <tr>
                                                <td class="panel">

                                                    <h5>Changelog Updates</h5>
                                                    <ul>
                                                        {% for key, value  in  changeLog %}
                                                            <li>{{ key }} updated to {{ value }}</li>
                                                        {% endfor %}
                                                    </ul>

                                                </td>
                                                <td class="expander"></td>
                                            </tr>
                                        </table>
                                    {% endif %}

                                    {% if voteDiffs is not empty %}
                                        {% for title, votes in voteDiffs %}
                                            <table class="twelve columns">
                                                <tr>
                                                    <td class="panel">

                                                        <h5 class="center">Vote: {{ title }}</h5>

                                                        {% if votes.new is not empty %}
                                                            <h6>New Votes</h6>

                                                            <ul>
                                                                {% for voter, vote in votes.new %}
                                                                    <li>{{ voter }}
                                                                        voted {{ vote }}</li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endif %}

                                                        {% if votes.updated is not empty %}
                                                            <h6>Updated Votes</h6>

                                                            <ul>
                                                                {% for voter, vote in votes.updated %}
                                                                    <li>{{ voter }} changed their vote
                                                                        to {{ vote }}</li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endif %}

                                                        <h6>Current Standings</h6>
                                                        <ul>
                                                            {% for heading, standing in rfcVotes[title].counts %}
                                                                {% if heading|lower != "real name" %}
                                                                    <li>{{ heading }}: {{ standing }}</li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </ul>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        {% endfor %}
                                    {% endif %}

                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>


            <!-- container end below -->
        </td>
    </tr>
</table>


{% include('foot.twig') %}